name: generate-voice

on:
  schedule:
    # 1日2回定期実行 (JST 09:00, 21:00 -> UTC 00:00, 12:00)
    - cron: '45 8,21 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r src/requirements.txt

      - name: Run script
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: python src/main.py

      - name: Commit generated files
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          [ -d public/voices ] && git add public/voices
          [ -d src/log ] && git add src/log

          git commit -m "Add generated files $(date +%Y%m%d_%H%M%S)" || echo "No changes"
          git push

